@import "tailwindcss";

/*
container 1200px */

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

html {
    font-size: 16px;
    font-family: "Inter", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

.gradient-btn {
    background: linear-gradient(40deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.badge-glow {
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.mic {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}